<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         testSuiteLoaderFile="phpunit/src/Runner/StandardTestSuiteLoader.php">

    <testsuites>
        <testsuite name="All">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>integration</group>
        </exclude>
    </groups>

    <logging>
        <junit outputFile="build/unit_report.xml"/>
    </logging>

    <coverage>
        <include>
            <directory suffix=".php">./lib</directory>
        </include>
        <report>
            <clover outputFile="build/coverage/clover.xml"/>
        </report>
    </coverage>

</phpunit>
